 .u-section-1 {
  background-color: #2E3192;
  background-position: 100% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 592px;
}

.text-header{
  text-align: center;
  font-family: AppleSDGothicNeoR;
  color: white;
  padding-top: 60px;
}

h1{
  font-weight: 1000;
}

.u-section-1 .u-form-1 {
  height: 107px;
  margin: 165px 387px 60px 183px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.875rem;
  font-family: AppleSDGothicNeoR;
}

.u-section-1 .u-label-2 {
  font-size: 1.875rem;
}

.u-section-1 .u-label-3 {
  font-size: 1.875rem;
}

.u-section-1 .u-label-4 {
  font-size: 1.875rem;
}

.u-section-1 .u-label-5 {
  font-size: 1.875rem;
}

.u-section-1 .u-label-6 {
  font-size: 1.875rem;
}

.u-section-1 .u-label-7 {
  font-size: 1.875rem;
}

.u-block-3882-13 {
  margin-left: 0;
}

.u-block-3882-19 {
  font-size: 1.875rem;
  font-family: AppleSDGothicNeoR;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 287px;
    margin-left: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 150px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 281px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 177px;
  }
} .u-section-2 {
  background-color: #2E3192;
  background-position: 100% 100%;
}

.u-section-2 .u-sheet-1 {
  min-height: 456px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 216px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 136px;
  }
}@font-face {
  font-family: 'AppleSDGothicNeoR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AppleSDGothicNeoR.ttf);
}