 .u-section-1 {
  background-image: url("images/sppr_win_main_without_text.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 937px;
}

.u-section-1 .u-text-1 {
  margin: 132px 20px 0 70px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 40px auto 0 -87px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Aclonica;
  background-image: none;
  margin: -200px 455px 60px auto;
  padding: 0 41px;
}

.u-section-1 .u-icon-1 {
  color: rgb(235, 186, 22) !important;
  font-size: 2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 280px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 255px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 214px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 161px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
  }
}